<div id="ktc" class="politician">
  <div class="closer" style="background-image:url(<%= ktc_root %>/images/closer.png)"> </div>
  <div class="ktc_inner">
    <div class="backer">
    </div>
    <div class="ktc_content">
      <div class="big_name"><%= name %></div>
      <div class="what_is">
        <%= party_affiliation %>
        <%= kind_of_congressman %>
        /
        <%= state_name %>
      </div>
      <img class="portrait" src="http://watchdog.net<%= photo_path %>" alt="" />
      <div class="contact_info"><!-- Render target --></div>
      <div class="blocks">
        <!-- Render target for all the blocks -->
      </div>
    </div>
    <a class="credits" title="Thanks and Credits" target="_blank" href="<%= ktc_root %>/credits" style="background-image:url(<%= ktc_root %>/images/credits.png)"> </a>
  </div>
</div>