<div id="ktc">
  <h1>
    <%= firstname %> <%= lastname %>
  </h1>
  <img src="http://watchdog.net<%= photo_path %>" />
  <p>Born: <%= birthplace %></p>
  <p>Religion: <%= religion %></p>
  <p>Bills Introduced: <%= n_bills_introduced %></p>
  <p>Earmarks Requested: <%= n_earmark_requested %></p>
  <p>Predictability Factor: <%= predictability %></p>
  <p>Average Number of Words Per Speech: <%= words_per_speech %></p>
</div>