<div class="block <%= key %> <%= klass %>">
  <div class="spinner" style="background-image:url(<%= ktc_root %>/images/spinner.gif); display:none;"> </div>
  <div class="ktc_question"><%= label %></div>
  <div class="ktc_answer"><%= content %></div>
</div>