<div class="contact_item email" style="background-image:url(<%= ktc_root %>/images/mail.png);">
  <a href="mailto:<%= email %>"><%= email %></a>
</div>
<div class="contact_item phone" style="background-image:url(<%= ktc_root %>/images/phone.png);">
  <%= phone %>
</div>
<div class="contact_item webform" style="background-image:url(<%= ktc_root %>/images/form.png);">
  <a href="<%= webform %>" target="_blank">Contact form</a>
</div>
<div class="contact_item wikipedia" style="background-image:url(<%= ktc_root %>/images/wikipedia.png);">
  <a href="<%= wikipedia %>" target="_blank">Wikipedia</a>
</div>
<div class="contact_item congresspedia" style="background-image:url(<%= ktc_root %>/images/congresspedia.png);">
  <a href="<%= congresspedia_url %>" target="_blank">Congresspedia</a>
</div>
<div class="contact_item website" style="background-image:url(<%= ktc_root %>/images/home.png);">
  <a href="<%= website %>" target="_blank">Website</a>
</div>
