<div class="contact_item email <%= email_class %>" style="background-image:url(<%= ktc_root %>/images/mail.png);">
  <a href="mailto:<%= email %>"><%= email %></a>
</div>
<div class="contact_item phone <%= phone_class %>" style="background-image:url(<%= ktc_root %>/images/phone.png);">
  <%= phone %>
</div>
<div class="contact_item webform <%= webform_class %>" style="background-image:url(<%= ktc_root %>/images/form.png);">
  <a href="<%= webform %>" target="_blank">Contact form</a>
</div>
<div class="contact_item wikipedia <%= wikipedia_class %>" style="background-image:url(<%= ktc_root %>/images/wikipedia.png);">
  <a href="<%= wikipedia %>" target="_blank">Wikipedia</a> / <a href="<%= congresspedia_url %>" target="_blank">Congresspedia</a>
</div>
<div class="contact_item key_votes <%= key_votes_url_class %>" style="background-image:url(<%= ktc_root %>/images/washington_post.png);">
  <a href="<%= key_votes_url %>" target="_blank">Key Votes</a> 
</div>
<div class="contact_item website <%= website_class %>" style="background-image:url(<%= ktc_root %>/images/home.png);">
  <a href="<%= website %>" target="_blank">Website</a>
</div>
