<a class="photograph" href="http://www.flickr.com/photos/<%= owner %>/<%= id %>/" target="_blank">
  <img src="http://farm<%= farm %>.static.flickr.com/<%= server %>/<%= id %>_<%= secret %>_s.jpg" alt="" />
</a>