<div id="ktc" class="search <%= className %>" style="display: none; background-image: url(<%= KTC_ROOT %>/images/search_backer.png);">
  <div class="search_inner">
    <div class="closer" style="background-image:url(<%= KTC_ROOT %>/images/closer.png)"> </div>
    <img src="<%= KTC_ROOT %>/images/spinner.gif" alt="" />
    <div class="searching_for">searching for:</div>
    <div class="search_for">search for:</div>
    <div class="error_for">trouble:</div>
    <div class="search_text">"<%= text %>"</div>
    <div class="search_input">
      <input id="ktc_search_input" type="text" class="inblock" value="" />
      <button id="ktc_search_button" class="btn inblock" href="#"><span><span>go</span></span></a>
    </div>
    <div class="search_error"> </div>
  </div>
</div>