<div class="tube">
  <div class="tube_thumb">
    <a href="<%= link %>" target="_blank"><img src="<%= thumb %>" /></a>
  </div>
  <div class="tube_title"> 
    <a href="<%= link %>" target="_blank"><%= title %></a>
    <small>(<%= author %>)</small>
  </div>
</div>