<div class="tweet">
  <a class="twitterer" href="<%= twitterer_url %>" target="_blank"><img src="<%= profile_image_url %>" /></a>
  <div class="tweet_text">
    <a href="<%= tweet_url %>" target="_blank"><%= text %></a>
    <a href="<%= twitterer_url%>" target="_blank"><small>(<%= from_user %>)</small></a>
  </div>
</div>