<div class="capitol_word <%= klass %>" style="font-size: <%= font_size %>%; line-height: <%= line_height %>%;">
  <a title="<%= name %> on Capitol Words" target="_blank" href="http://capitolwords.org/lawmaker/<%= bioguide_id %>/">
    <%= word %>
  </a>
  <br />
  <small>(<%= word_count %>)</small>
</div>